.Feature{
    align-items: center;
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
}
.text11{
    align-items: center;
    text-align: center;
    font-family:"Nunito Sans", sans-serif;;
}